@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: lato;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  padding-bottom: 10px;
}

.header:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px #5BBAF0;
          box-shadow: 0 2px 5px #5BBAF0;
}

.header__info {
  margin: 35px 0 30px;
}

.header__menu a {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.header__menu a:hover {
  text-decoration: underline;
  color: #2d74df;
}

.header__list li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 40px;
}

.header__list li:last-child {
  margin-right: 0;
}

.info-header__item {
  display: inline-block;
}

.info-header__column {
  display: inline-block;
}

.info-header__logo a {
  display: inline-block;
  position: relative;
  top: -3px;
  color: #E1E1E1;
  font-weight: 700;
  font-size: 52px;
  margin-right: 18px;
}

.info-header__logo a:hover {
  color: #759edb;
}

.info-header__text {
  color: #5D5D5D;
  font-weight: 500;
  padding-left: 27px;
  position: relative;
  margin-right: 85px;
  line-height: 16px;
}

.info-header__text::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 2px;
  height: 40px;
  background: #89AFEF;
}

.info-header__social {
  margin-right: 90px;
}

.info-header__social a {
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.info-header__social a:first-child {
  background: #2DD038 url("../img/logos/whatsapp.svg") center no-repeat;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.info-header__social a:nth-child(2) {
  background: #7B519D url("../img/logos/viber.svg") center no-repeat;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
  margin: 0 18px;
}

.info-header__social a:last-child {
  background: #5BBAF0 url("../img/logos/telegram.svg") 45% 50% no-repeat;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.info-header__social a:hover {
  background-size: 50%;
}

.info-header__contacts {
  text-align: right;
  margin-right: 30px;
}

.info-header__contacts a {
  color: #333333;
}

.info-header__contacts a:hover {
  text-decoration: underline;
  color: darkorange;
}

.info-header__contacts p:first-child {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.info-header__contacts p:first-child::before {
  content: url("../img/icons/header/phone.svg");
  margin-right: 10px;
}

.info-header__contacts p:last-child {
  font-size: 17px;
  font-weight: 500;
}

.info-header__contacts p:last-child::before {
  content: url("../img/icons/header/mail.svg");
  margin-right: 10px;
}

.info-header__btn {
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  position: relative;
  top: -15px;
  right: 0;
}

.info-header__btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#E88952), to(#F6BD60));
  background: -o-linear-gradient(left, #E88952 0%, #F6BD60 100%);
  background: linear-gradient(90deg, #E88952 0%, #F6BD60 100%);
  color: #2d74df;
}

.info-header__btn:active {
  -webkit-box-shadow: 1px 1px 5px rgba(242, 147, 81, 0.450503);
          box-shadow: 1px 1px 5px rgba(242, 147, 81, 0.450503);
  border: 2px solid #2d74df;
  padding: 13px 23px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 3px;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

._no-webp .promo{
  background: url("../img/bg/bg.png") 50% no-repeat; }

.promo {
  position: relative;
  min-height: 700px;
  padding-top: 250px;
}

.promo__column {
  display: inline-block;
  color: #333333;
  max-width: 675px;
}

.promo__title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 40px;
}

.promo__subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 40px;
}

.promo__subtitle span {
  font-weight: 800;
}

.promo__button a {
  padding: 15px 60px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
}

.promo__btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#6C80CB), color-stop(100%, #87AFF1), to(#87AFF1));
  background: -o-linear-gradient(left, #6C80CB 0%, #87AFF1 100%, #87AFF1 100%);
  background: linear-gradient(90deg, #6C80CB 0%, #87AFF1 100%, #87AFF1 100%);
  color: #f0c678;
}

.promo__btn:active {
  -webkit-box-shadow: 1px 1px 5px rgba(242, 199, 81, 0.451);
          box-shadow: 1px 1px 5px rgba(242, 199, 81, 0.451);
  border: 2px solid #eed754;
  padding: 13px 58px;
}

.promo__image {
  position: absolute;
  bottom: -5px;
  left: 60%;
  max-width: 390px;
}

.doctypes {
  padding: 45px 0;
}

.doctypes__title h2 {
  margin: 0 0 45px 0;
}

.doctypes__item {
  display: inline-block;
  width: 262px;
  height: 190px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 30px;
  color: #333333;
}

.doctypes__item:hover {
  -webkit-box-shadow: 0px 2px 10px #707df0;
          box-shadow: 0px 2px 10px #707df0;
  color: #f0c678;
}

.doctypes__image {
  margin-bottom: 15px;
}

.doctypes__text {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}

.title h2 {
  font-weight: 800;
  font-size: 36px;
  color: #333333;
  text-align: center;
}

.advantages {
  background: #F6F6F6;
  padding: 50px 0;
}

.advantages__item {
  display: inline-block;
  width: 240px;
  height: 250px;
  position: relative;
  padding: 100px 5px 0;
  text-align: center;
  margin: 0 20px;
}

.advantages__image img {
  background-color: #fff;
  border-radius: 50%;
}

.advantages__text {
  color: #333333;
}

.advantages__text h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.advantages__text p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.advantages__text::before {
  display: inline-block;
  content: "";
  width: 98px;
  height: 98px;
  position: absolute;
  top: -10px;
  left: 77px;
  border-radius: 50%;
  background: #ffffff url("../img/icons/main/advantages/Shape.svg") 50% no-repeat;
}

.advantages__text_star::before {
  background: #ffffff url("../img/icons/main/advantages/favorites.svg") 50% no-repeat;
}

.advantages__text_certificate::before {
  background: #ffffff url("../img/icons/main/advantages/file.svg") 50% no-repeat;
}

.advantages__text_delivery::before {
  background: #ffffff url("../img/icons/main/advantages/delivery-truck.svg") 50% no-repeat;
}

.advantages__text:hover::before {
  -webkit-box-shadow: 0px 0 10px #707df0;
          box-shadow: 0px 0 10px #707df0;
}

.edu-programs {
  padding: 45px 0 40px 0;
}

.edu-programs__title {
  margin-bottom: 40px;
}

.edu-programs__item {
  display: inline-block;
  width: 265px;
  height: 366px;
  padding: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  margin: 8px;
}

.edu-programs__item:hover {
  -webkit-box-shadow: 0px 2px 10px #707df0;
          box-shadow: 0px 2px 10px #707df0;
}

.edu-programs__image {
  margin-bottom: 25px;
}

.edu-programs__text {
  color: #333333;
  text-align: center;
}

.edu-programs__text h3 {
  font-weight: 800;
  font-size: 19px;
}

.edu-programs__text span {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #53B43B;
  margin-bottom: 25px;
}

.edu-programs__text span::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #53B43B;
  background: url("../img/icons/main/edu-programs/check.svg") 40% no-repeat;
  display: inline-block;
  margin-right: 5px;
}

.edu-programs__text span p {
  font-weight: 800;
  font-size: 22px;
}

.news {
  background-color: #F6F6F6;
  padding: 45px 0;
}

.news__title {
  -moz-text-align-last: left;
       text-align-last: left;
  margin: 0 0 45px 10px;
}

.news__item {
  display: inline-block;
  width: 262px;
  height: 348px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 24px;
  margin: 10px;
}

.news__item:hover {
  -webkit-box-shadow: 0px 2px 10px #707df0;
          box-shadow: 0px 2px 10px #707df0;
}

.news__image {
  margin-bottom: 24px;
}

.news__data p {
  font-weight: 500;
  color: #ABABAB;
  margin-bottom: 10px;
}

.news__text {
  color: #333333;
}

.news__text h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 8px;
}

.news__text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

._webp .promo{ background: url(../img/bg/bg.webp) 50% no-repeat; }